#title {
    padding: 10px;
    color: #464646;
}

body {
    background: burlywood;
}

table {
    width: 100%;
    text-align: center;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

nav ol {
    display: flex;
    gap: 2ch;
    list-style-type: none;
    padding: 0;
}

.error {
    color: hsl(0, 100%, 40%);
    font-weight: 700;
}

.success {
    color: hsl(120, 100%, 40%);
    font-weight: 700;
}